body {
	font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: #D3A075;
	

}


h1 {
  	text-align: center;
  	padding: 20px;
  	color: #804A26;
}


h2 {
        color: #333;
}


#header-img {
	
	height : 400px;
	width: auto;
}

.image-center {

	text-align: center;

}

